*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.all-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    margin-top: 15vh;
    display: flex;
    width: 100%;
    padding: 0 20vw;
}

.buttons > *{
    margin-right: 10vw;
}

.buttons :last-child{
    margin-right: 0;
}


.home{
    display: flex;
    
}

#left-logo{
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    margin-top: 60px;
}

img{
    /* height: 150px; */
    width: 20vw;
    margin-bottom: 0;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
}

.right-login{
    display: flex;
    flex-direction: column;

}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(185, 185, 185);
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 27vw;
    margin: 10vh 15vw 20px 20px;
}

.card :nth-child(1n){
    margin-bottom: 10px;
}

a{
    font-size: 12px;
    text-decoration: none;
    align-self: center;
    margin: 5px;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

hr{
    margin:10px
}

p{
    font-size: 1vw;
    margin-left: 5vw;
}
